PORT=5000
DB_HOST=liga_db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres123
DB_NAME=liga_jateng
JWT_SECRET=changethissecretinproduction
JWT_EXPIRES_IN=7d
# Ganti dengan domain liga kamu, contoh: https://liga.namadomain.com
FRONTEND_URL=http://localhost
ADMIN_EMAIL=admin@ligajateng.com
ADMIN_PASSWORD=Admin1234!
